/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h2 {
    text-align: center;
}

body {
    background-color: azure;

};
.head {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    grid-area: head;
}

.row{
    display: flex;
    flex-direction: row;
}
.main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    grid-area: main;
};

.entries {
    margin-left: 3%;
    width: 15%;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 5px;
    grid-area: entries
};

.date {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
};

.dated {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.inDepth {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
};

.nextDayGoals {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
};

.tags {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
};

.takeAways {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
};

.tomorrowsFive {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
}

.textbox {
    height: 400px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
    resize: none;
}

.memButton {
    margin-left: 15%;
    margin-right: auto;
    width: 70%;
}

.tomorrowList {
    width: 95%;
    border: 1px solid black;
    border-radius: 15px;
}

.takeAwayList {
    width: 95%;
    border: 1px solid black;
    border-radius: 15px;
}